html,
body {
	background: #000;
	overflow-x: hidden;
}

.container {
	margin-inline: auto;
	padding-inline: 30px;
}

.form-group { 
	display: grid;
	grid-template-rows: auto min-content;
	grid-template-columns: 1fr;
	margin-bottom: 10px;
}

.form-group label { 
	margin-bottom: 10px;
}

.input-group { 
	display: grid;
	margin-bottom: 10px;
}

.input-group input,
.input-group select,
.input-group textarea { 
	padding: .5em 1em;
	border-radius: 2px;
	border: 1px solid rgb(0,0,0);
	background: rgba(255,255,255,.1);
	color: rgba(255,255,255,.65);
	transition: all .1s ease-in-out;
	/* make the outline the brand color */
}

.input-group input:hover,
.input-group input:focus,
.input-group input:active,
.input-group select:hover,
.input-group select:focus,
.input-group select:active,
.input-group textarea:hover,
.input-group textarea:focus,
.input-group textarea:active { 
	outline: none;
	color: rgba(255,255,255,1);
	box-shadow: 
		0 0 10px rgba(255, 216, 0, .1), 
		0 0 30px rgba(255, 216, 0, .1), 
		0 0 70px rgba(255, 216, 0, .1), 
		0 0 100px rgba(255, 216, 0, .1), 
		0 0 150px rgba(255, 216, 0, .1);
}

.input-group-append { 
	display: grid;
	grid-template-columns: auto min-content;
	gap: 10px;
}

.input-group-append button { 
	width: auto;
	padding: .5em 1em;
}

.input-group .is-invalid { 
	border: 1px solid red !important;
}

.input-group .is-invalid:hover,
.input-group .is-invalid:focus,
.input-group .is-invalid:active {
	box-shadow: 
		0 0 10px rgba(255, 0, 0, .1), 
		0 0 30px rgba(255, 0, 0, .1), 
		0 0 70px rgba(255, 0, 0, .1), 
		0 0 100px rgba(255, 0, 0, .1), 
		0 0 150px rgba(255, 0, 0, .1);
}

.input-group .invalid-feedback p { 
	color: red !important;
}

.lead { 
	margin-bottom: 40px;
	font-size: 18px;
}

.navbar {
	background: #000;
	height: 56px;
	display: grid;
	grid-template-columns: 160px 4fr 6fr;
	position: relative;
	z-index: 1001;
	margin-bottom: 20px;
}

.navbar h2 { 
	align-items: center;
	display: flex;
	color: rgba(255, 255, 255, .35);
	font-size: 1.2rem;
}

.navbar h2 svg { 
	box-shadow: 
		0 0 10px rgba(255, 216, 0, .35), 
		0 0 30px rgba(255, 216, 0, .35), 
		0 0 70px rgba(255, 216, 0, .35), 
		0 0 100px rgba(255, 216, 0, .35), 
		0 0 150px rgba(255, 216, 0, .35);
}

.navbar .links {
	display: flex;
	align-items: center;
	color: rgba(255, 255, 255, .35);
}

.navbar .links:last-child { 
	justify-content: flex-end;
}

.navbar .links svg {
	color: rgba(255,255,255,.35);
	transition: all .1s ease-in-out;
}

.navbar .links svg:hover,
.navbar .links svg:focus {
	color: rgba(255, 255, 255, .65);
}

.navbar img {
	font-size: 18px;
	margin-right: 10px;
	height: 32px;
	margin-block: auto;
}

.navbar .links a {
	text-decoration: none;
	margin: 0 10px;
}

.content {
	display: grid;
	align-items: center;
	justify-content: center;
	min-height: calc(100vh - 56px);
	overflow-x: hidden;
	cursor: pointer;
}

/* var x and y */

.content::after {
	content: '';
	z-index: 888;
	position: fixed;
	top: 0;
	left: 0;
	background-image: url('../src/static/circles.svg');
	background-repeat: repeat;
	width: 100%;
	height: 100%;
	mix-blend-mode: soft-light;
}

.content .content__layer__text {
	background: radial-gradient(
			farthest-corner circle at var(--x) var(--y),
			rgb(255, 216, 0, 1) 1%, transparent 30%);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	text-shadow: 
		0 0 10px rgba(255, 216, 0, .15), 
		0 0 30px rgba(255, 216, 0, .15), 
		0 0 70px rgba(255, 216, 0, .15), 
		0 0 100px rgba(255, 216, 0, .15), 
		0 0 150px rgba(255, 216, 0, .15);
	transition: all .1s ease-in-out;
	cursor: pointer;
}

.content .content__layer__text h1 {
	color: #FFD800;
	font-size: 10rem;
}

.content {
	color: white;
}

.content__layer__one {
	content: '';
	z-index: 999;
	position: absolute;
	top: 0;
	left: 0;
	background-image: url('../src/static/noise.png');
	background-repeat: repeat;
	width: 100%;
	height: 100%;
	mix-blend-mode: color-dodge;
	background-position: var(--y) var(--x);
}

.content.mini { 
	min-height: 30vh;
	position: relative;
}

.content.mini::after {
	position: absolute;
}

.content.mini .content__layer__text h1 {
	font-size: 4rem;
}

.content.mini .content__layer__one {
	bottom: 30vh;
	position: absolute;
}

.papers__list p:last-child { 
	margin-bottom: 40px;
}

@media only screen and (max-width: 1200px) {
	.content .content__layer__text h1 {
		font-size: 4rem;
	}
}