@font-face {
  font-family: 'Telugu MN';
  src: local('Telugu MN'), url(./static/telugu-mn.woff) format('woff');
}

* { 
  box-sizing: border-box;
  font-family: 'Telugu MN', serif;
}

a { 
  text-decoration: none;
  color: rgba(255 255 255 0.35)
}